body {
  
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url(../imagens/3279550.jpg);
}
 
div {
  border: 1px solid #062B50;
  padding: 5px;
  border-radius: 10px;
  margin: 15px;
  font-size: 24px;
}
 
button{
	border: 1px solid #062B50;
	border-radius: 12px;
	font-size: 24px;
	margin: 15px;
	padding: 5px;
}
 
input{
    width:75px;
    padding:5px;
    box-sizing: border-box;
    font-size: 20px;
}
 
#container{
	width: 900px;
 
}
 
#resposta{
	 width: 400px;
}
.titulo{
	background-color: #F5FFFA;
	color: black;
	font-size: 36px;
}
 
 
.texto{
	margin: 15px;
}
